*{ margin:0; padding:0; font-family:sans-serif;  }

body{
    background: #f1f3f6;
}

.nav{
    height: 68px;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 25px;
    
}


.logo img{
    height: 40px;
    margin-right: 20px;
}


.textBox input{
    height: 40px;
    width: 500px;
    background: #edf4ff;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    padding: 0 15px;
    outline: none;
    margin-right: 30px;
}


.login{
    position: relative;
    margin-right: 30px;
}

.login-btn{
    border:none;
    background:none;
    font-size: 16px;
    cursor:pointer;
}


.dropdown{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    box-shadow:0 0 5px rgba(0,0,0,0.3);
    width:200px;
    
}

.login:hover .dropdown{
    display:block;
}

.dropdown a{
    display:block;
    padding:8px 15px;
    color:#333;
    text-decoration:none;
    font-size:14px;
}



.cart{
    display:flex;
    align-items:center;
    margin-right:25px;
    font-size:15px;
    line-height: 40px;
} 
.seller{
    display:flex;
    align-items:center;
    margin-right:25px;
    font-size:15px;
    line-height: 40px;
}
.cart img{
    height: 20px;
    margin-right: 6px;
}

.seller img {
    height: 20px;
    margin-right: 6px;
}

.nav a{
    text-decoration: none;
    color: black;
}

.service{
    height: 140px;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 25px;
    justify-content: space-around;
    margin: 20px 15px;
    text-align: center;
    font-size: 13px;
    font-weight: 550;
    

}

.service img{
    height: 70px;
}
.service span{
    display: block;
}

.service a{
    text-decoration: none;
    color: rgb(75, 73, 73);
}

.banner {
    height: 215px;
    display: flex;
    background: #fff;
    /* padding: 0 25px; */
    margin: 10px 15px;
    
}
.banner img{
    display: flex;
    align-content:flex-start;
    height: 190px;
    width: 100%;
    margin :0 0 10px;
}

.section{
    display: flex;
    gap: 10px;              
    /* margin: 10px 15px; */
    align-items: stretch;
    
}

.deals{
    height: 290px;
    display: flex;
    background: #fff;
    flex-direction: column;
    /* padding: 0 25px; */
    margin: 10px 15px;
    width: 1000px;
    color: black;
    justify-content: space-around;
}

.deals h1{
    padding: 10px;
    font-size: 19px;
    color: rgb(39, 38, 38);
}

.deals img{
    height: 100px;
}

.deals a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: center;
    
}

.deals span{
    
    display: block;
    text-align: center;
    
}

.deals p{
    font-weight: 600;
}

.deal img{
    align-content: center;
}
.gadgets{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.poster{
    height: 280px;
    /* width: px; */
    /* border: 2px solid black; */
    margin-top: 10px;
}

.poster img{
    height: 290px;
    width: 200px;
}

.furniture{
    height: 290px;
    display: flex;
    background: #fff;
    flex-direction: column;
    
    margin: 10px 15px;
    margin-bottom: 20px;
    color: black;
    justify-content: space-around;
}
.furniture h1{
    padding: 10px;
    font-size: 19px;
    color: rgb(39, 38, 38);
}

.furniture img{
    height: 100px;
}

.furniture a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: center;
    
}

.furniture span{
    
    display: block;
    text-align: center;
    
    
}

.furniture p{
    font-weight: 600;
}

.furniture img{
    align-content: center;
}
.fItem{
    height: 280px;
    width: px;
    /* border: 2px solid black; */
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.fItem img{
    height: 120px;
    gap: 20px;
}
.tdop{
    height: 290px;
    display: flex;
    background: #fff;
    flex-direction: column;
    
    margin: 10px 15px;
    
    color: black;
    justify-content: space-around;
}
.tdop h1{
    padding: 10px;
    font-size: 19px;
    color: rgb(39, 38, 38);
}

.tdop img{
    height: 100px;
}

.tdop a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    text-align: center;
    
}

.tdop span{
    
    display: block;
    text-align: center;
    
}

.tdop p{
    font-weight: 600;
}

.tdop img{
    align-content: center;
}
.tItem{
    height: 280px;
    width: px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.tItem img{
    height: 120px;
    gap: 20px;
}
